.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 16px;
}
.footer__column-link:hover {
    opacity: 0.5;
    transition: ease-out 0.3s;
}